# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/

# Large data files
data/
yolo_dataset/
runs_cv/
runs_full/
results/submission/

# Model weights
*.pt
*.pth

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
